  body {
     background-image: url('cdn/epic.jpg');
     background-repeat: no;
     background-size: auto;
  }
  
  .centertxt {
    text-align: center;
  }
  .buttons {
    width: auto;
    margin: auto;
    padding: 10px;
  }
  div .boxbuttons {
    background-color: #1e1e2e;
    border-radius: 2%;
    border: 3px solid #89b4fa;
    width: 25%;
    margin: auto;
    padding: 10px;
  }
  .boxoftext {
    background-color: #1e1e2e;
    border-radius: 2%;
    border: 3px solid #89b4fa;
    width: 25%;
    margin: 5%;
    padding: 10px;
  }
  .right {
    float: right;
    width: 100px;
    padding: 10px;
  }
  audio {
    position: fixed;
    bottom: 0;
    width: 100;
  }
  marquee {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
  
  }
  .left {
    float: left;
    width: 100px;
    padding: 10px;
  }
