  * {
    font-family: Inter, Roboto, sans-serif;
  } 
 body {
     background-color: #1e1e2e;
     background-size: 100%;
  }
  
  .centertxt {
    text-align: center;
  }
  .buttons {
    width: auto;
    margin: auto;
    padding: 10px;
  }
  div .boxbuttons {
    background-color: #1e1e2e;
    border: 3px solid #89b4fa;
    width: auto;
    margin: auto;
    padding: 10px;
  }
  div .bottombox {
    background-color: #1e1e2e;
    bottom: 0;
    position: fixed;
    border: 3px solid #89b4fa;
    width: auto;
    margin: auto;
    padding: 10px;
  }
  .boxoftext {
    background-color: #1e1e2e;
    border: 3px solid #89b4fa;
    width: 25%;
    margin: 5%;
    padding: 10px;
  }
  .right {
    float: right;
    width: 100px;
    padding: 10px;
  }
  audio {
    position: fixed;
    bottom: 0;
    width: 100;
  }
  marquee {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;  
  }
  .left {
    float: left;
    width: 100px;
    padding: 10px;
  }
  img:hover {
    scale:1.4;
  }